.menu li {
    display: inline;
    padding: 5px;
    margin: 3px;
    background-color: #99cb84;
    border-radius: 3px;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu li:hover {
    background-color: #000000;
}